* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;    
    background: #3382F6;
    color: white;
    padding: 0 10%;
    min-height: 8vh;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: white;
    font-size: large;
}

.navbar_links:hover {
    color: black;
}

body {
    display: flex;
    flex-direction: column;
    background: white;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    transition: filter 0.3s;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px; 
    font-size: larger;
}

#logo {
    height: 6vh;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    min-height: 90vh;
}

.hero_sign_up {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 50px;
    min-height: 45vh;
    width: 100%;
    background: linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%);
    padding: 30px;
    overflow: hidden;
}

.hero_text_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 80px;
    font-weight: 700;
    color: black;
}

.hero_sign_up_button {
    background-color: #3382F6;
    color: white;
    font-size: x-large;
    border: 0px;
    border-radius: 1cap;
    padding: 12px;
}

.hero_sign_up_button:hover {
    background-color: #044bb7;
    border: #3382F6 solid 2px;
    transform: scale(1.025);
}

#gym_image {
    border: black solid 1px;
    border-radius: 6cap;
    max-width: 100%;
    height: auto;
    max-height: 40vh;
    filter: brightness(80%);
}

.other_gym_offers {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    min-height: 45vh;
    padding: 24px;
    margin-top: 5px;
    overflow: hidden;
}

.gym_offers_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
    width: 100%;
}

.offer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    width: 20%;
    min-height: 350px;
    padding: 12px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    transition: filter 0.3s;
}

.offer:hover {
    filter: brightness(60%);
    transform: scale(1.025);
}

.offer_image {
    max-width: 100%;
    height: auto;
    border-radius: 3cap;
}

.gym_offers_text_container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.location {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    background-color: lightcyan;
    width: 100%;
    min-height: 25vh;
    overflow: hidden;
}

#map_icon {
    width: 10%;
    height: 50%;
}

.address {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: white;
    padding: 24px;
    border: black solid 2px;
    border-top-left-radius: 3cap;
    border-bottom-right-radius: 3cap;
}

.motivation_quote {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    min-height: 15vh;
    padding: 50px;
    background-color: #7a879c;
    color: whitesmoke;
    border: black solid 2px;
    overflow: hidden;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    background: rgb(45, 44, 44);
    color: white;
    font-size: small;
    padding: 12px;
    height: auto;
    width: 100%;
}

.main_footer_container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10%;
    width: 100%;
}

.about_us_section_container, .support_contact_container, .meta_nav_footer_container, .social_media_links_container {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.about_us_section_container, .support_contact_container, .meta_nav_footer_container, .social_media_links_container h2 {
    color: grey;
}

.social_media_container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    max-width: 150px;
    overflow: hidden;
}

.social_media_container img{
    max-width: 25%;
    height: auto;
    border-radius: 3cap;
}